.contenedor {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.boton {
  background-color: rgb(255, 193, 77);
  color: black;
  width: 100%;
  text-align: center;
}

div {
  margin: 1%;
}
